/* Universal Styles */

html {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
}

body {
  background-color: #1a1b23;
  margin: 0;
}

.main-content {
  color: #ebebeb;
  position: relative;
  top: 4.4rem;
}

/* Header */

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: rgba(26, 27, 35, 0.85);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(26, 27, 35, 0.14);
}

header .content {
  font-family: 'Roboto', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  color: #ebebeb;
}
.header-logo {
  padding: 0.5rem 0 0.5rem 2rem;
}

.header-title {
  display: flex;
  justify-content: center;
}

header h1 {
  font-size: 1.5rem;
  font-weight: lighter;
}

.header-nav {
  display: flex;
  justify-content: end;
  padding-right: 2rem;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

nav li {
  padding-left: 4rem;
}

nav a {
  color: #2893e5;
  font-size: 1rem;
  line-height: 1.6;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  nav li {
    padding-left: 2rem;
  }
  header h1 {
    font-size: 1rem;
  }
  header nav ul {
    padding-inline-start: 0;
    margin: 0;
  }
  nav li {
    padding-left: 1.2rem;
  }
  .header-logo img {
    height: 2rem;
  }
}

@media only screen and (max-width: 425px) {
  header .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 3rem);
  }
  .header-nav {
    grid-column: 1 / span 2;
    align-items: center;
    justify-content: center;
  }
  .header-logo {
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
  header h1 {
    font-size: 0.85rem;
  }
  .header-nav {
    padding-right: 0.5rem;
  }
  nav li a {
    font-size: 0.65rem;
  }
}

/* Banner Section */

#banner-section {
  display: flex;
  padding: 9.5% 10%;
  max-height: 28rem;
}
.banner-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-right: 1rem;
  min-width: 60%;
}
.banner-header {
  font-size: 3rem;
  padding: 1.5rem 0;
  color: white;
  font-family: 'lekton', sans-serif;
}

.banner-header h1 {
  margin: 0;
}

.banner-text {
  font-size: 1rem;
  color: #d9d9d9;
  line-height: 1.5;
  align-self: center;
}
.banner-text h2 {
  margin: 0;
}

.banner-image {
  display: flex;
  align-items: center;
}

.banner-image img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1024px) {
  #banner-section {
    padding: 9% 15%;
  }
  .banner-header {
    font-size: 1.5rem;
  }
  .banner-text h2 {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .banner-image img {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  #banner-section {
    padding: 15% 11% 20% 11%;
  }
  .banner-content {
    padding-right: 0;
    display: block;
  }
  .banner-text h2 {
    font-size: 0.85rem;
    padding-top: 1rem;
  }
}
@media only screen and (max-width: 375px) {
  #banner-section {
    padding: 9% 9% 20% 9%;
  }
  .main-content {
    top: 6rem;
  }
  .banner-header {
    font-size: 1rem;
  }
  .banner-text h2 {
    font-size: 0.65rem;
    padding-top: 0.5rem;
  }
}

/* Social Section */

.social-section {
  display: flex;
  justify-content: center;
  background-color: #2893e5;
  width: 100%;
}

.social-section a {
  font-size: 2rem;
  color: #1a1b23;
  padding: 1.5rem 2rem;
}

@media only screen and (max-width: 1024px) {
  .social-section a {
    font-size: 1.5rem;
    padding: 1rem 2rem;
  }
}

@media only screen and (max-width: 375px) {
  .social-section a {
    font-size: 1rem;
    padding: 1rem;
  }
}

/* Developer Blog Section */

.developer-blog {
  padding: 2% 15% 10% 15%;
}
.developer-blog-header {
  padding: 5%;
}
.developer-blog-header h2 {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 1rem 0;
}

.developer-blog-sub-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.developer-blog-sub-header h3 {
  font-size: 1.5rem;
}

.developer-blog-sub-header p {
  font-size: 0.85rem;
}

.blog-posts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.post {
  background-color: #1f212c;
  border-radius: 0.5rem;
  box-shadow: 3px 4px 6px -1px rgba(0 0 0 / 0.1),
    0 2px 4px -2px rgba(0 0 0 / 0.1);
  padding: 1.5rem 2rem;
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.post:hover {
  background-color: #222431;
  box-shadow: 3px 25px 50px -12px rgba(0 0 0 / 0.25);
  cursor: pointer;
}

.post-top {
  margin-bottom: 1rem;
  line-height: 1.4;
}

.post-top h1 {
  padding-bottom: 2rem;
  margin: 0;
}

.post-top p {
  font-weight: 300;
}

.post-poster-info {
  display: flex;
}

.post-image {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
}

.post-image img {
  height: 3rem;
  border-radius: 50%;
}

.post-signature {
  padding: 0.312rem;
  display: grid;
  align-content: center;
  font-family: 'Monserat', sans-serif;
}

.post-signature p {
  font-size: 0.85rem;
  margin: 0;
  padding: 0.125rem;
}

.post-signature p:last-child {
  font-weight: 100;
  font-size: 0.7rem;
}

.post-next-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 1.5rem;
}

.post-next-page i {
  padding: 0 1rem;
  font-size: 1.5rem;
}

.post-next-page a {
  display: flex;
  align-items: center;
  color: #2893e5;
  padding: 0 2rem;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .developer-blog-header h2 {
    font-size: 2rem;
  }
  .developer-blog-sub-header h3 {
    font-size: 0.75rem;
  }
  .developer-blog-sub-header p {
    font-size: 0.5rem;
  }
  .post-top h1 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .post-next-page {
    font-size: 1rem;
  }
  .post-next-page i {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  .blog-posts-grid {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 425px) {
  .developer-blog {
    padding: 2% 10% 10% 10%;
  }
  .developer-blog-header h2 {
    font-size: 1.5rem;
  }
  .developer-blog-sub-header h3 {
    font-size: 0.5rem;
  }
  .developer-blog-sub-header p {
    font-size: 0.4rem;
  }
  .post {
    padding: 1rem;
    grid-template-rows: 2fr 1fr;
  }
  .post-top {
    padding-bottom: 0;
  }
  .post-top h1 {
    font-size: 1rem;
  }
  .post-top p {
    font-size: 0.6rem;
  }
  .post-image img {
    height: 1.5rem;
  }
  .post-signature p {
    font-size: 0.5rem;
  }
  .post-signature p:last-child {
    font-size: 0.4rem;
  }
  .post-next-page {
    margin-top: 0.5rem;
    font-size: 0.6rem;
  }
  .post-next-page a {
    padding: 0 1.5rem;
  }
}
@media only screen and (max-width: 375px) {
  .blog-posts-grid {
    gap: 1rem;
  }
  .developer-blog-header h2 {
    font-size: 1.2rem;
  }
  .post {
    padding: 0.8rem;
  }
  .post-top {
    line-height: normal;
    margin-bottom: 0.2rem;
  }
  .post-top h1 {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
  }
  .post-top p {
    font-size: 0.5rem;
  }
  .post-next-page a {
    padding: 0 1rem;
  }
}

/* Footer */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 0.85rem;
  border-top: 1px solid rgba(217, 217, 217, 0.1);
  padding: 0 1rem;
}

.footer ul {
  display: flex;
  align-items: center;
}

.footer ul {
  padding-left: 0;
}

.footer ul li {
  padding: 0.5rem 2rem;
  list-style: none;
}

.footer a {
  color: #ebebeb;
  text-decoration: none;
}

.footer .copyright {
  padding: 0.5rem 2rem;
  text-align: end;
  font-size: 0.625rem;
  font-weight: 300;
  font-family: 'Monserat', sans-serif;
}

.footer .copyright a {
  color: gray;
}

@media only screen and (max-width: 1024px) {
  .footer {
    grid-template-columns: 3fr 1fr;
    font-size: 0.65rem;
    position: relative;
    top: 8rem;
  }
  .footer ul li {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 425px) {
  .footer {
    font-size: 0.5rem;
    display: block;
    padding: 0.5rem 0;
  }
  .footer ul {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 0.4rem;
    padding-bottom: 0.5rem;
  }
}
